body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: #fff;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}


h3 {
  color: #ffffff;
}

.footer-navbar,
.footer-styles,
.footer-contact {
  flex: 1;
  margin-left: 25px;
}

.footer-navbar p,
.footer-styles p,
.footer-contact p {
  color: bisque;
  margin: 8px 0;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: blue;
}

.aboutus {
  background-color: #ffffff; 
  padding: 20px; 
  margin-top: 20px;
}

.aboutus h1 {
  text-align: center;
  font-size: xx-large;
}


body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* Adjust the background color and opacity */
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  color: #fff; /* Adjust the text color */
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 18px; /* Adjust the font size */
}

nav a:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.motto {
 
  position: absolute;
  top: 60px;
  left: 10%;
  right: 10%;
  bottom: 10%;
  text-align: center;
  color: #ffffff; /* Adjust the text color */
}

.motto-h1 {
  font-size: 2.1em; /* Adjust the font size */
  margin-bottom: 20px;
}

.motto-p {
  font-size: 1.1em; /* Adjust the font size */
}
