body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: #fff;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}


h3 {
  color: #ffffff;
}

.footer-navbar,
.footer-stilet,
.footer-kontakt {
  flex: 1;
  margin-left: 25px;
}

.footer-navbar p,
.footer-stilet p,
.footer-kontakt p {
  color: bisque;
  margin: 8px 0;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: blue;
}

.aboutus {
  background-color: #ffffff; 
  padding: 20px; 
  margin-top: 20px;
}

.aboutus h1 {
text-align: center;
font-size: larger;
}