body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 2em;
}

.hero {
    position: relative;
}

.slideshow-container {
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.mySlides {
    display: none;
    animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.mySlides img {
    width: 100%;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
